.app.dark {
    --bg-color: #3636af;
    --inverted-bg-color: #fee;
    --primary-color: #20be00;
    --secondary-color: #00b600;
    --inverted-primary-color: #2539ed;
    --inverted-secondary-color: #3781e1;
}
