.app.light {
    --bg-color: #fee;
    --inverted-bg-color: #3636af;
    --primary-color: #6b6eff;
    --secondary-color: #3781e1;
    --inverted-primary-color: #fffc3f;
    --inverted-secondary-color: #00b600;
}
