.app.light {
  --bg-color: #ffeeee;
  --inverted-bg-color: #3636af;

  --primary-color: #2539ed;
  --secondary-color: #3781e1;
  --inverted-primary-color: #fffc3f;
  --inverted-secondary-color: #00b600;
}
